title{
    text-align: center
}
body{
    background-color: rgb(252, 77, 77);
    text-align: center;
    color: #1d1d9d
}
.newplayer{
    color: #1d1d9d;
    text-align: center
}
.showplayer{
    color : #1d1d9d
}
.nodots{
    display: grid; 
    grid-template-rows: repeat(2.5, 1fr);
    grid-template: 10px 5px;
    grid-gap: 15px;
    justify-content: center;
    display: inline-block
}
.edit{
    color:#1d1d9d
}
.home{
    color: #1d1d9d
}