title{
    text-align: center
}
body{
    background-color: #d84343;
    text-align: center;
    color: #0df2b5
}
.newplayer{
    color: #0df2b5;
    text-align: center
}
.showplayer{
    color : #0df2b5
}
.nodots{
    display: grid; 
    grid-template-rows: repeat(2.5, 1fr);
    grid-template: 10px 5px;
    grid-gap: 15px;
    justify-content: center;
    display: inline-block
}
.edit{
    color:#0df2b5
}
.home{
    color: #0df2b5
}